<div class="row">
  <div class="col-sm-8">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div formArrayName="hobbies">
        <h2>Hobbies</h2>
        <button
          (click)="addHobby()"
          type="button"
          class="btn btn-default">+ Add hobbies</button>
        <div *ngFor="let hobby of hobbies.controls; let i = index">
          <label for="hobby-{{i}}}">Hobby: </label>
          <input
            id="hobby-{{i}}}"
            formControlName="{{i}}"
            type="text">
        </div>
      </div>
        <div
        formGroupName="userData">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email">
            <small
              class="help-block">
              <span *ngIf="!signUpForm.get('userData.email')?.valid">
                This field invalid!
              </span>
              <span *ngIf="signUpForm.get('userData.email')?.errors?.required">
                  This field required!
              </span>
              <span *ngIf="signUpForm.get('userData.email')?.errors?.emailIsForbidden">
                This email is forbidden
              </span>
            </small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password">
          </div>
        </div>
        <button
          class="btn btn-info">Suggest a Username
        </button>
        <div class="form-group">
          <div
            *ngFor="let gender of genders"
            class="radio">
            <label>
              <input
                [value]="gender"
                formControlName="gender"
                required
                type="radio">
              {{gender}}</label>
          </div>
        </div>
        <div role="alert" class="alert alert-danger">
          User data is invalid!
        </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="form-group">
        <label for="secret">Secret question</label>
        <select
          class="form-control"
          name="secret" id="secret">
          <option value="pet">Your first pet?</option>
          <option value="teacher">Your first teacher?</option>
        </select>
      </div>
      <div class="form-group">
    <textarea
      name="questionAnswer"
      class="form-control"
      rows="2"></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary">Submit
      </button>
    </form>

  </div>
  <div class="col-sm-4">
    <h3>Your submitted: </h3>
<!--    <div *ngIf="submitted">-->
<!--      <p>Email: <span>{{this.userSubmitted.email}}</span></p>-->
<!--      <p>Gender:  <span>{{this.userSubmitted.gender}}</span></p>-->
<!--      <p>Secret question:  <span>{{this.userSubmitted.secretQuestion}}</span></p>-->
<!--      <p>Your answer secret:  <span>{{this.userSubmitted.answerSecret}}</span></p>-->
<!--    </div>-->
  </div>
</div>
