<div class="row">
  <div class="col-xs-12">
    <img
      class="img-responsive"
      src="http://imgs.vietnamnet.vn/Images/2016/12/09/08/20161209085123-ga3.jpg"
      alt="Com ga chien">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Com ga chien</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-warning dropdown-toggle"
      >Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredient
  </div>
</div>
